# DATABASE
DB_SA_PASSWORD=YourStrongPassword123!
CONNECTION_STRING=Server=db,1433;Database=TaskMateDb;User Id=sa;Password=YourStrongPassword123!;TrustServerCertificate=True;Encrypt=False;

# JWT
JWT_KEY=your_jwt_secret_here
JWT_ISSUER=TaskMate.API
JWT_AUDIENCE=TaskMate.Client
JWT_EXPIRES_IN_HOURS=24

# API
BACKEND_URL=http://localhost:5048
VITE_API_URL=http://localhost:5048/api

# DOCKER
ACCEPT_EULA=Y